@using ECommerceApp.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}



<div class="container">
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index"><i class="fa fa-user"></i> Profile</a>
        </li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email"> <i class="fa fa-envelope"></i> Email</a></li>
    <li class="nav-item"> <a asp-area="Customer" asp-controller="Address" asp-action="Index" class="nav-link"><i class="fa fa-address-book"></i> Address</a></li>

    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword"><i class="fa fa-key"></i> Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins"><i class="fa fa-plug"></i> External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication"> <i class="fa fa-shield-alt"></i>Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData"><i class="fa fa-user-circle"></i> Personal data</a></li>
</ul>
</div>
<style>
    .nav {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 250px;
        background:white;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    
    .nav-link {
        display: flex;
        align-items: center;
        padding: 15px 20px;
        color: black;
        text-decoration: none;
        font-size: 1em;
        transition: all 0.3s ease;
    }
</style>



